body {
    background: url('https://img.freepik.com/free-photo/business-parking-empty-carpark-abstract_1203-5195.jpg?w=1060&t=st=1659025541~exp=1659026141~hmac=b97322988ee03d51e51ea7c03f8e105fe9824c2ff406c59b8c4e29e38a065326') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 0.2em #000;
}

.navbar {
    transition: all 0.5s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

th {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

td {
    text-align: center;
    font-size: 1.1em;
}