<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle List</title>
</head>
<body>
<h1>Vehicle List</h1>
<table>
    <tr>
        <th>reg_no</th>
        <th>Vehicle Type</th>
        <th>Brand</th>
        <th>Manufacturing Year</th>
        <th>Color</th>
    </tr>
    <tr th:each="vehicle: ${vehicles}">
        <td th:text="${vehicle.registrationNumber}"></td>
        <td th:text="${vehicle.type}"></td>
        <td th:text="${vehicle.brand}"></td>
        <td th:text="${vehicle.year}"></td>
        <td th:text="${vehicle.color}"></td>
    </tr>
</table>
</body>
</html>